body {
    font-family: Helvetia, sans-serif;
    text-align: center;
}

table {
  border: 1px solid darkcyan;
  width: 750px;
  margin: 0 auto;
}

table th {
  background-color: mediumturquoise;
  padding: 12px;
}

table td {
  background-color: lightcyan;
  border-top: 1px solid darkcyan;
  padding:10px;
}

.code {
  font-family: monospace;
  background-color: paleturquoise;
}
